ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-item {
  height: 60px;
  width: 305px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.1);
  margin: 4px 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.remove-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}
