<div>
  <h1>Data</h1>
  <table *ngIf="cells.length >0" cellspacing="6">
    <tr>
      <th></th>
      <th *ngFor="let colName of colCharList">{{ colName }}</th>
    </tr>
    <tr *ngFor="let row of cells; let rowNo = index">
      <td class="si-no">{{ rowNo + 1 }}</td>
      <td

        *ngFor="let col of row let colNo = index"
        [class.marked-cell]="(rowNo+colNo) % 3 == 0"
        [class.selected-cell]="col.value == '15'"
        class="cell"
      >
        {{ col.value }}
      </td>
    </tr>
  </table>
</div>
