<div>
  <h1>Data</h1>
  <table cellspacing="6">
    <tr>
      <th></th>
      <th *ngFor="let colName of colCharList">{{ colName }}</th>
    </tr>
    <tr *ngFor="let rowNo of rowList">
      <td class="si-no">{{ rowNo + 1 }}</td>
      <td

        *ngFor="let rowData of genratedRowData(rowNo), let i = index"
        [class.marked-cell]="(rowNo+i) % 3 == 0"
        [class.selected-cell]="rowData == 'F7'"
        class="cell"
      >
        {{ rowData }}
      </td>
    </tr>
  </table>
</div>
