body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background: #131636;
}

.app-button {
  height: 32px;
  width: 84px;
  border-radius: 4px;
  border: none;
  background: rgba(19, 60, 217, 1);
  color: #fff;
}
.bg-black{
  background: #131636;
}
.bg-light-grey{
  background: #212442;
}
.bg-dark-grey{
  background: rgba(255, 255, 255, 0.1);
}
